
{% extends "default.html" %}

{% block content %}
<form method="GET" action="{{url_for('.karastart')}}">
<div class="columns">
<div class="column is-three-quarters">
<div class="field">
	<label class="label">Archivo asignación</label>
    <div class="control">
	<input class="input" name="file" value="" type="text" placeholder="Archivo asingación"></input>
</div>
</div>
</div>
</div>

<div class="columns">
<div class="column is-three-quarters">
<div class="field">
	<label class="label">Directorio</label>
    <div class="control">
	<input class="input" name="dir" value="" type="text" placeholder="Directorio presentación"></input>
</div>
</div>
</div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Comenzar</button>
  </div>
</div>
</div>
</form>



<form method="GET" action="{{url_for('.karaall')}}">
<div class="columns">
<div class="column is-three-quarters">
<div class="field">
	<label class="label">Archivo asignación</label>
    <div class="control">
	<input class="input" name="file" value="" type="text" placeholder="Archivo asingación"></input>
</div>
</div>
</div>
</div>

<div class="columns">
<div class="column is-three-quarters">
<div class="field">
	<label class="label">Directorio</label>
    <div class="control">
	<input class="input" name="dir" value="" type="text" placeholder="Directorio presentación"></input>
</div>
</div>
</div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Todos</button>
  </div>
</div>
<form>

{% endblock %}
